<html lang="en" ng-app="forms" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
    <title>Forms</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="sandstone-theme-min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<section class="container">
    <section form-id="1" class="ng-isolate-scope">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form class="reg ng-pristine ng-valid" method="POST" action="foo" name="myForm" novalidate="">
                        <input ng-model="formPageData.field7" type="text" validation="" required="required"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="forms/form-page-directive.js"></script>
<script src="forms/form-row-directive.js"></script>
<script src="forms/form-column-directive.js"></script>
<script src="forms/form-repository.js"></script>
<script src="forms/validation-directive.js"></script>
<script src="rules-engine/rules-engine.js"></script>
<script src="rules-engine/parse-float-filter.js"></script>
<script src="rules-engine/parse-date-filter.js"></script>



<script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}</script></body></html>